@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .clip-path-custom {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  
  .animate-slide-up {
    animation: slideUp 0.3s ease-out;
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}